html{
    scroll-behavior: smooth;
}

.scrollToTop{
    position: fixed;
    background-color: blueviolet;
    color: beige;
    font-size: 45px;
    border-radius: 45px;
    bottom: 40px;
    right: 50px;
}

.scrollToTop:hover{
    position: fixed;
    background-color: chocolate;
    color: beige;
    font-size: 45px;
    border-radius: 45px;
    bottom: 40px;
    right: 50px;
}

